* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  width: 100%;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
}
